.form-signin, .form-menu{
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  border-style: solid double solid double;
}
h1 {background-color: #FFFFFF;
opacity: 0.6;
text-align: center;
font-size:70px;
}
h4{
color: #FFFFFF
}
h3{
color: #FFFFFF
}
h5{background-color: #FFFFFF;
opacity: 0.6;
text-align: center;